# Ignorar lenguajes generados automáticamente para estadísticas
android/** linguist-generated=true
ios/** linguist-generated=true
build/** linguist-generated=true
windows/** linguist-generated=true
linux/** linguist-generated=true
macos/** linguist-generated=true
